* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.15);
    text-align: center;

    h1 {
        margin-bottom: 15px;
    }

    .link {
        margin-top: 15px;
        color: #111;

        a {
            &:hover {
                color: #555;
                text-decoration: none;
            }
        }
    }

    input,
    button {
        position: relative;
        width: calc(100% - 20px);
        border: 1px solid #ddd;
        border-radius: 7px;
        outline: 0 solid #aaa;
        padding: 10px;
        margin-bottom: 15px;

        font-size: 16px;
        font-weight: normal;

        transition: 0.1s ease;
        &:hover,
        &:focus {
            outline: 2px solid #ddd;
        }
    }

    button {
        background: #000;
        color: #fff;
        font-weight: 700;
        width: 100%;
        margin-bottom: 0;
        outline: 0 solid #aaa;
        border: none;
        text-transform: capitalize;

        &:hover {
            background: #222;
            color: #ddd;
            outline: 2px solid #aaa;
        }
    }

    .align {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;

        input[type="checkbox"] {
            width: 16px;
            height: 16px;
            cursor: pointer;
            margin: none;
            padding: none;
        }

        label {
            cursor: pointer;
            user-select: none;
        }
    }
}
